{
    "reporter": [
        "html",
        "text"
    ],
    "include": [
        "src/**/*.js"
    ],
    "exclude": [
        "tests/**/*.spec.js"
    ],
    "lines": 80,
    "statements": 80,
    "functions": 80,
    "branches": 80,
    "check-coverage": true
}
